{% extends "bootstrap/base.html" %}
{% block title %}商家管理平台{% endblock %}
{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation" style="margin-bottom: 0px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"
                        data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('user.主页') }}">渴了么-商家管理后台</a>
            </div>
            {#            右边标签#}
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="">商家库存</a></li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="">销量统计</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#" ></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">用户中心<span class="caret"></span></a>
                        <ul class="dropdown-menu">
{#                            <li><a href="{{ url_for('user.注册') }}">注册</a></li>#}
{#                            <li><a href="{{ url_for('user.登录') }}">我要登录</a></li>#}
                            <li><a href="#">注册</a></li>
                            <li><a href="#">我要登录</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">用户论坛</a></li>
                        </ul>
                    </li>
                    <li><a href="#">关于我们</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
{% block content %}

{% endblock %}